@charset "UTF-8";

/*Global*/
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
}

.header {
  position: relative;
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: #222222;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.header__logo-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__logo {
  width: 44px;
  height: 38px;
  vertical-align: bottom;
}

.header__buttons {
  position: relative;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-form__label {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  cursor: pointer;
}

.search-form__image {
  fill: #E8E8E8;
}

.search-form__input {
  color: #000000;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
}

.search-form__input:focus {
  display: block;
  background-color: #FFFFFF;
}

.search-form:hover .search-form__input {
  display: block;
  background-color: #FFFFFF;
}

label.search-form__label:hover svg.search-form__image {
  fill: #F16D7F;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 168px;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons__account,
.buttons__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons__menu-image,
.buttons__account-image,
.buttons__cart-image {
  fill: #E8E8E8;
}

.buttons__cart {
  position: relative;
}

.buttons__cart-count {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  top: -9px;
  right: -9px;
}

.header-buttons:hover .buttons-image {
  fill: #F16D7F;
}

.navigation {
  position: absolute;
  top: 57px;
  right: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 11px 12px;
  padding-bottom: 147px;
  width: 232px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 100;
}

.navigation__header {
  margin: 0;
  margin-left: 22px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.navigation__close-button {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.submenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 22px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.menu-list__item {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 22px;
}

.menu-list__link {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.menu-list__link:hover {
  color: #000000;
}

.submenu-list {
  margin-left: 22px;
}

.submenu-list__item {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
}

.submenu-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.submenu-list__link:hover {
  color: #000000;
}

.close-button {
  padding: 5px;
  border: none;
  background-color: transparent;
  -ms-flex-item-align: end;
  align-self: flex-end;
  cursor: pointer;
}

.close-button__image {
  fill: #6F6E6E;
}

.footer-top {
  min-height: 447px;
  padding-top: 96px;
  background-image: url("../img/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-top__speaker {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-top__image {
  width: 96px;
  height: 96px;
}

.footer-top__text {
  margin: 0;
  margin-top: 30px;
  max-width: 360px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer-top__text-different {
  font-style: italic;
}

.footer-bottom {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222224;
}

.footer-bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -8px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  margin-right: 8px;
}

.social-list__link:hover {
  background-color: #F16D7F;
}

.social-list__link:hover .social-list__icon {
  fill: #FFFFFF;
}

.social-list__icon {
  fill: #000000;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 356px;
  margin-top: 21px;
}

.form__email {
  width: 100%;
  max-width: 276px;
  height: 49px;
  padding: 7px 22px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #E1E1E1;
}

.form_submit {
  padding: 16px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #E05C6E;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form-wrapper {
  margin-top: 54px;
  margin-right: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-wrapper__header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.form-wrapper__header-subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
}

.copyright {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.banner {
  background-color: #F1E4E6;
}

.banner__container {
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/banner-image.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.banner__header {
  min-width: 405px;
  margin: 0;
  padding: 0;
  margin-bottom: 91px;
  margin-right: 101px;
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.banner__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 96px;
  top: 0;
  left: 0;
  background-color: #F16D7F;
}

.banner__small-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.banner__different-color {
  color: #F16D7F;
}

.offers {
  padding-top: 35px;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  column-gap: 30px;
}

.offers-list__item:nth-child(1) {
  background-image: url("../img/for-women.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:nth-child(2) {
  background-image: url("../img/for-men.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:nth-child(3) {
  background-image: url("../img/for-kids.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:last-child {
  max-width: 100%;
  min-height: 180px;
  background-image: url("../img/accesories.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 3 span;
}

.offers-list__text {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.offers-list__text-different {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.offers-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

.products {
  padding-top: 96px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.products__header {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

.products__text {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 19px;
}

.products-list__item {
  margin-top: 30px;
  margin-right: 30px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #F8F8F8;
}

.products-list__image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: bottom;
}

.products-list__cart-button {
  min-width: 139px;
  position: absolute;
  display: none;
  padding: 7px 16px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products-list__cart-button:hover {
  background-color: #E05C6E;
}

.products-list__wrapper {
  padding: 25px 19px;
  text-align: left;
}

.products-list__header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.products-list__description {
  margin: 0;
  padding: 0;
  max-width: 310px;
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-list__price {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-list__link:hover .products-list__cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-list__image-overlay {
  position: relative;
}

.products-list__item:hover .products-list__image-overlay::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}

.buttons__cart-image_size {
  width: 22px;
}

.products__button {
  margin-top: 42px;
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid #FF6A6A;
  cursor: pointer;
}

.products__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.services {
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #222224;
}

.services-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}

.services-list__item {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33%;
}

.services-list__image {
  vertical-align: bottom;
}

.services-list__header {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.services-list__description {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  max-width: 310px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.shopping_cart {
  padding-top: 59px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}

.shopping_cart__header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: left;
  text-transform: uppercase;
}

.shopping {
  padding-top: 96px;
  padding-bottom: 129px;
}

.shopping__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cart-list__item {
  min-width: 652px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.cart-list__item:last-child {
  margin-bottom: 0;
}

.cart-list__image {
  width: 262px;
  height: 306px;
  display: block;
}

.cart-list__description-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 22px 31px;
}

.cart-list__brand {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.cart-list__product {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.cart-list__delete-product {
  position: absolute;
  top: 28px;
  right: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-list__delete-image {
  fill: #575757;
}

.cart-list-label {
  margin: 0;
  padding: 0;
  margin-top: 42px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cart-list-label__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.cart-list-label__item:last-child {
  margin-bottom: 0;
}

.cart-list-label__product-count {
  font-family: "Lato", "Arial", sans-serif;
  padding: 3px;
  width: 44px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  outline: none;
  border: 1px solid #EAEAEA;
  text-align: center;
  margin-left: 22px;
}

.cart-list-label__product-count {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}

.cart-list-label__value {
  color: #656565;
  text-transform: capitalize;
}

.cart-list-label__value_price {
  color: #F16D7F;
}

.cart-list-label__item_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart-list-buttons {
  margin: 0;
  padding: 0;
  margin-top: 73px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart-list-buttons__button {
  padding: 16px 39px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-family: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  cursor: pointer;
}

.cart-list-buttons__button:hover {
  color: #FFFFFF;
  background-color: #656565;
}

.order {
  max-width: 360px;
  width: 50%;
}

.order__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order__header {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.order__address {
  margin: 0;
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order__address-input {
  margin-bottom: 20px;
  color: #B1B1B1;
  font-family: "Lato", "Arial", sans-serif;
  padding: 13px 17px;
  border: 1px solid #A4A4A4;
}

.order__address-input:last-child {
  margin-bottom: 0;
}

.order__address-input::-webkit-input-placeholder {
  color: #222222;
}

.order__address-input:-ms-input-placeholder {
  color: #222222;
}

.order__address-input::-ms-input-placeholder {
  color: #222222;
}

.order__address-input::placeholder {
  color: #222222;
}

.order__button-quote {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 40px;
  color: #4A4A4A;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  cursor: pointer;
}

.order__button-quote:hover {
  color: #FFFFFF;
  background-color: #656565;
}

.order__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 57px;
  padding: 39px 43px 42px 43px;
  background-color: #F5F3F3;
}

.order__sub-total {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.order__grand-total {
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}

.order__sub-total-number {
  margin-left: 10px;
}

.order__grand-total-number {
  margin-left: 10px;
  margin-bottom: 21px;
}

.order__grand-total-number_red {
  font-weight: 400;
  color: #F16D7F;
}

.order__submit {
  margin-top: 17px;
  width: 100%;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 15px 41px;
  background-color: #F16D7F;
  border: none;
  cursor: pointer;
}

.order__submit:hover {
  background-color: #656565;
}

.active {
  display: flex;
}

.line {
  margin: 0;
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #E2E2E2;
  /* Цвет линии для остальных браузеров */
  background-color: #E2E2E2;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
  /* Толщина линии */
  width: 100%;
}

.pagination-wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 66px;
}

.pagination-catalog {
  min-width: 207px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-catalog__link,
.pagination-catalog__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-catalog__link {
  padding: 15px 8px;
}

.pagination-catalog__item:last-child .pagination-catalog__link {
  padding-left: 0;
}

.pagination-catalog__item:nth-child(6) .pagination-catalog__link {
  padding-right: 0;
}


.pagination-catalog__link_active {
  color: #EF5B70;
}

.pagination-catalog__link:hover {
  color: #EF5B70;
}

.pagination-wrapper__button {
  display: flex;
  align-items: center;
  padding: 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  border-radius: 5px;
  border: 1px solid rgba(235, 235, 235, 1);
}

.pagination-wrapper__button:hover {
  opacity: 0.6;
}

.new-arrivals {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}

.new-arrivals__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.new-arrivals__header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs__item::before {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  color: #636363;
}

.breadcrumbs__item:first-child::before {
  content: '';
}

.breadcrumbs__link:hover {
  color: #F16D7F;
}

/* для стилизации и работы фильтра в случае конфликтов оставлять часть кода от этой строки */
/* крайний вариант */

.filters {
  padding-top: 45px;
}

.filters__form {
  display: flex;
}

.filters__global {
  padding: 0;
  border: none;
}

.filters__global_left:hover .filters-button {
  color: #EF5B70;
}

.filters__global_left:hover .filters-button__image {
  fill: #EF5B70;
}

.filters__global_center {
  display: flex;
  flex-wrap: wrap;
}

.filters-button {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
}


.filters__global-button_display,
.filters-button:hover {
  color: #EF5B70;
}

.filters-button:hover .filters-button__image {
  fill: #EF5B70;
}

.global-list-filter__item {
  margin-bottom: 18px;
}

.global-list-filter__open-filter {
  width: 100%;
  position: relative;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  background-color: transparent;
}

.button-active {
  color: #EF5B70;
}

.global-list-filter__item:last-child {
  margin-bottom: 0;
}

.global-list-filter__open-filter:hover {
  color: rgba(58, 56, 56, 0.86);
}

.global-list-filter__open-filter:hover::before {
  background-color: rgba(58, 56, 56, 0.86);
}

.global-list-filter__open-filter::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #EF5B70;
  left: 0;
  top: 0;
}

.filter-button {
  margin-right: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  color: #6F6E6E;
  display: flex;
  align-items: center;
}

.buttons-wrapper:hover .filter-button__image {
  fill: #EF5B70;
  transform: rotate(180deg);
}

.buttons-wrapper:hover .filter-button {
  color: #EF5B70;
}

.global-list-filter {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  list-style: none;
}

.filters-button__image {
  fill: #000000;
  margin-left: 9px;
}

.filters-button__image_display {
  fill: #EF5B70;
}

.filter-button__image {
  margin-top: 3px;
  margin-left: 9px;
  fill: #6F6E6E;
}

.filters__global_left {
  position: relative;
  margin-left: 15px;
  flex-grow: 1;
}

.filters__global_left:hover .filters__global-wrapper {
  display: block;
}

.global-sub-list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 18px;
  list-style: none;
}

.global-sub-list__item {
  margin-bottom: 11px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.global-sub-list__item:last-child {
  margin-bottom: 0;
}

.global-sub-list__label:hover {
  color: #E05C6E;
  cursor: pointer;
}

.filters-button_close {
  color: #EF5B70;
}

.filters__global_center {
  margin-left: 86px;
  flex-grow: 2;
}

.filters__global-wrapper {
  padding: 13px 16px;
  display: none;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  min-width: 360px;
  left: -15px;
  top: -15px;
  position: absolute;
  z-index: 300;
}

/* до этой строки */

.products_catalog {
  padding-top: 0;
}

.dropdown-list {
  position: absolute;
  display: none;
  min-width: 79px;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 101;
}

.buttons-wrapper:hover .dropdown-list {
  display: block;
}

.dropdown-list-label {
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  position: relative;
  text-transform: uppercase;
}

.dropdown-list-label::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  left: 0;
}



.dropdown-list-label::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid #6F6E6E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.dropdown-list__check:checked~.dropdown-list-label::after {
  display: block;
}

.dropdown-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-list__item:last-child {
  margin-bottom: 0;
}

.global-list-filter__open-filter {
  width: 100%;
  position: relative;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  background-color: transparent;
}

.button-active {
  color: #EF5B70;
}

.global-list-filter__open-filter:hover::before {
  background-color: rgba(58, 56, 56, 0.86);
}

.global-list-filter__open-filter::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #EF5B70;
  left: 0;
  top: 0;
}

.filters__global_left:hover .filters__global-wrapper {
  display: block;
}

.global-sub-list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 18px;
  list-style: none;
}

.global-sub-list__label:hover {
  color: #E05C6E;
  cursor: pointer;
}

.slider {
  min-height: 777px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.slider__image {
  vertical-align: bottom;
}

.slider__image-wrapper {
  display: flex;
  justify-content: center;
}

.slider-button {
  display: flex;
  align-items: center;
  padding: 13px 17px;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}

.slider-button__image {
  fill: #000000;
}

.slider-button__image_active {
  fill: #F16D7F;
}

.slider-button__image_previous {
  transform: rotate(180deg);
}

.product-description {
  text-align: center;
  background-color: #FFFFFF;
}

.product-description__wrapper {
  position: relative;
  top: -70px;
  padding: 65px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  z-index: 300;
}

.products_padding {
  padding-top: 0;
}

.filters__form-product {
  margin-top: 65px;
  margin-bottom: 49px;
  justify-content: center;
  position: inherit;
}

.filters__global_catalog {
  display: flex;
  flex-wrap: wrap;
}

.product-description__main-heading {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-description__main-heading::after {
  position: absolute;
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-description__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product-description__text {
  margin: 0 auto;
  padding: 0;
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-description__price {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.line_product {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #EAEAEA;
  /* Цвет линии для остальных браузеров */
  background-color: #EAEAEA;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
  /* Толщина линии */
  width: 65%;
  margin: auto;
}

.add-product {
  min-width: 212px;
  display: flex;
  margin: 0 auto;
  padding: 9px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  cursor: pointer;
}

.add-product__image {
  width: 26px;
  height: 24px;
  fill: #EF5B70;
}

.add-product__text {
  margin-left: 23px;
}

.add-product:hover {
  color: #5E5E5E;
  border: 1px solid #5E5E5E;
}

.add-product:hover .add-product__image {
  fill: #5E5E5E;
}

.offers-list__item {
  width: 100%;
  max-width: 360px;
  min-height: 260px;
  margin-top: 30px;
  transition: 0.5s linear;
}

.offers-list__item:hover {
  transform: scale(1.1);
}

.registration-header {
  padding-top: 59px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}

.registration-header__heading {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: left;
  text-transform: uppercase;
}

.registration-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.block-registration {
  padding-top: 64px;
  padding-bottom: 96px;
}

.block-registration__wrapper {
  display: flex;
  justify-content: space-between;
}

.registration-form {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.enter-name {
  max-width: 359px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
}

.enter-name__heading {
  text-transform: capitalize;
}

.enter-name__heading,
.login-details__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.enter-name__input,
.login-details__input {
  margin-top: 21px;
  padding: 13px 17px;
  border: 1px solid #A4A4A4;
}

.enter-name__input::placeholder,
.login-details__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.gender {
  max-width: 359px;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  border: none;
}

.gender__label {
  position: relative;
  margin-right: 20px;
  padding-left: 27px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.gender__label:hover {
  color: #E05C6E;
  cursor: pointer;
}

.gender__label:last-child {
  margin-right: 0;
}

.gender__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}

.gender__label:hover::before {
  border: 1px solid #E05C6E;
}

.gender__label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #A4A4A4;
}

.gender__input:not(:checked)+.gender__label::after {
  opacity: 0;
}

.gender__input:checked+.gender__label::after {
  opacity: 1;
}

.login-details {
  max-width: 359px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
}

.login-details__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.login-details__text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  text-align: left;
}

.registration-form__button {
  margin-top: 39px;
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 29px;
  background: #F16D7F;
  border: none;
  cursor: pointer;
}

.registration-form__button:hover {
  background: #B1B1B1;
}

.loyalty-description {
  width: 55%;
}

.loyalty-description__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.loyalty-description__text {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-description__list {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style: none;
}

.loyalty-description__item {
  margin-bottom: 16px;
  padding-left: 43px;
  position: relative;
}

.loyalty-description__item:last-child {
  margin-bottom: 0;
}

.loyalty-description__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
}


/* планшетная версия*/

@media (max-width: 768px) {

  .container {
    padding: 0 16px;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .navigation {
    right: 0;
  }

  .search-form__input {
    max-width: 120px;
  }

  .banner__container {
    min-height: 368px;
    background-position: top left 100px;
    background-size: contain;
  }

  .banner__header {
    margin-right: 0;
    margin-bottom: 0;
    font-size: 44px;
    line-height: 53px;
  }

  .banner__small-text {
    font-size: 24px;
    line-height: 29px;
  }

  .offers {
    padding-top: 0;
  }

  .offers-list {
    column-gap: 20px;
  }

  .offers-list__item {
    min-height: 168px;
    margin-top: 20px;
  }

  .offers-list__item:last-child {
    min-height: 116px;
  }

  .products {
    padding-top: 155px;
    padding-bottom: 65px;
  }

  .products-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin-top: 57px;
  }

  .products-list__item {
    margin-top: 16px;
    margin-right: 0;
  }

  .products-list__item_catalog {
    display: none;
  }

  .products__button {
    margin-top: 33px;
  }

  .services {
    padding-top: 0;
    padding-bottom: 65px;
  }

  .services-list {
    flex-direction: column;
    align-items: center;
  }

  .services-list__item {
    width: 100%;
    margin-top: 48px;
    padding: 0;
  }

  .services-list__description {
    max-width: 315px;
  }

  .services-list__header {
    margin-top: 28px;
  }

  .footer-top {
    min-height: 613px;
    padding-top: 64px;
    padding-bottom: 140px;
    background-image: url("../img/footer-background-tablet.png");
  }

  .footer-top__container {
    flex-direction: column;
  }

  .form-wrapper {
    margin-right: 0px;
  }

  .filters {
    padding-top: 24px;
  }

  .filters__global_center {
    justify-content: flex-end;
    margin-left: 0;
  }

  .buttons-wrapper:last-child .filter-button {
    margin-right: 0;
  }

  .products_catalog {
    padding-top: 25px;
  }

  .products__list_catalog {
    margin-top: 0;
  }

  .slider {
    min-height: 624px;
  }

  .product-description__wrapper {
    top: 0;
  }

  .line_product {
    width: 100%;
  }

  .container_product {
    padding-left: 0;
    padding-right: 0;
    border-left: none;
    border-right: none;
  }

  .products-list_product {
    margin-top: 0;
  }

  .products_padding {
    padding-top: 128px;
    padding-bottom: 129px;
  }

  .products-list__item:first-child {
    order: 2;
  }

  .products-list__item:nth-child(2) {
    order: 1;
  }

  .products-list__item:last-child {
    display: none;
  }

  .shopping__wrapper {
    flex-direction: column;
  }

  .shopping {
    padding-top: 59px;
  }
}

/* мобильная версия*/

@media (max-width: 480px) {

  .container {
    padding: 0 8px;
  }

  .buttons {
    width: auto;
    margin-right: 0;
  }

  .buttons__account,
  .buttons__cart {
    display: none;
  }

  .banner__container {
    justify-content: center;
    background-image: none;
  }

  .banner__header {
    min-width: auto;
    font-size: 38px;
    line-height: 46px;
  }

  .banner__header::before {
    height: 100%;
  }

  .banner__small-text {
    font-size: 20px;
    line-height: 24px;
  }

  .new-arrivals {
    padding-top: 24px;
    padding-bottom: 46px;
  }

  .new-arrivals__header {
    margin-bottom: 32px;
  }

  .new-arrivals__wrapper {
    flex-direction: column;
  }

  .filters_catalog {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .filters__global_left {
    margin-left: 0;
  }

  .filters-button__text {
    display: none;
  }

  .filters-button__image {
    margin-left: 0;
    width: 38px;
    height: 25px;
  }

  .offers {
    padding-top: 32px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .offers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 8px;
    padding-left: 8px;
  }

  .offers-list__item {
    min-height: 247px;
    margin-top: 32px;
  }

  .offers-list__item:last-child {
    max-width: 344px;
    min-height: 111px;
  }

  .products {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .products-list {
    grid-template-columns: 1fr;
    margin-top: 65px;
  }

  .products_catalog {
    padding-top: 0;
    padding-bottom: 64px;
  }

  .products__list_catalog {
    margin-top: 0;
  }

  .pagination-wrapper {
    margin-top: 40px;
  }

  .filter-button {
    font-size: 12px;
    line-height: 14px;
  }

  .footer-top {
    min-height: 550px;
    padding-bottom: 110px;
  }

  .footer-top__text {
    font-size: 18px;
    line-height: 22px;
  }

  .form-wrapper__header,
  .form-wrapper__header-subscribe {
    line-height: 153.2%;
  }

  .form-wrapper__header {
    font-size: 14px;
  }

  .form-wrapper__header-subscribe {
    font-size: 24px;
  }

  .form {
    max-width: 342px;
  }

  .footer-bottom__container {
    flex-direction: column;
  }

  .copyright {
    order: 2;
  }

  .footer-bottom {
    padding-top: 43px;
    padding-bottom: 9px;
  }

  .social-list {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .filters__global-wrapper {
    min-width: 100vw;
  }

  .product-description__wrapper {
    border-left: none;
    border-right: none;
  }

  .container_product {
    padding-left: 0;
    padding-right: 0;
  }

  .product-description__wrapper {
    padding: 65px 25px;
  }

  .product-description__heading {
    margin-bottom: 32px;
  }

  .product-description__price {
    margin-bottom: 32px;
  }

  .line_product {
    width: 55%;
  }

  .filter-button {
    margin-right: 0;
    font-size: 10px;
    line-height: 12px;
  }

  .filters__global_catalog {
    width: 100%;
    justify-content: space-between;
  }

  .filters__form-product {
    margin-bottom: 65px;
  }

  .products-list_product {
    margin-top: 0;
  }

  .products_padding {
    padding-bottom: 65px;
  }

  .products-list__item:last-child {
    display: block;
  }

  .products-list__item:nth-child(2) {
    display: none;
  }

  .products-list__item:first-child {
    order: 0;
  }
}