/*Global*/

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
}

.header {
  position: relative;
  padding-top: 18px;
  padding-bottom: 19px;
  background-color: #222222;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  display: flex;
  align-items: flex-end;
}

.header__logo-link {
  display: block;
  width: fit-content;
}

.header__logo {
  width: 44px;
  height: 38px;
  vertical-align: bottom;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form__label {
  margin-left: 40px;
  display: flex;
  align-content: center;
  cursor: pointer;
}

.search-form__image {
  fill: #E8E8E8;
}

.search-form__input {
  color: #000000;
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
}

.search-form__input:focus {
  display: block;
  background-color: #FFFFFF;
}

label.search-form__label:hover svg.search-form__image {
  fill: #F16D7F;
}

.search-form:hover .search-form__input {
  display: block;
  background-color: #FFFFFF;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 168px;
  justify-content: space-between;
  margin-right: 10px;
}

.buttons__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons__account,
.buttons__cart {
  display: flex;
}

.buttons__menu-image,
.buttons__account-image,
.buttons__cart-image {
  fill: #E8E8E8;
}

.header-buttons:hover .buttons-image {
  fill: #F16D7F;
}

.buttons__cart {
  position: relative;
}

.buttons__cart-count {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  top: -9px;
  right: -9px;
}

.header__buttons {
  position: relative;
}

.navigation {
  position: absolute;
  top: 57px;
  right: -67px;
  display: none;
  flex-direction: column;
  padding: 11px 12px;
  padding-bottom: 147px;
  width: 232px;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 100;
}

.active {
  display: flex;
}

.navigation__header {
  margin: 0;
  margin-left: 22px;
  order: 3;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.menu-list,
.submenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list {
  margin-left: 22px;
  order: 3;
}

.submenu-list {
  margin-left: 22px;
}

.menu-list__item,
.submenu-list__item {
  margin: 0;
  padding: 0;
  width: fit-content;
}

.menu-list__item {
  margin-top: 22px;
}

.menu-list__link:hover {
  color: #000000;
}

.submenu-list__link:hover {
  color: #000000;
}

.submenu-list__item {
  margin-bottom: 5px;
}

.menu-list__link {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.close-button {
  padding: 5px;
  border: none;
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
}

.navigation__close-button {
  order: 1;
}

.close-button__image {
  fill: #6F6E6E;
}

.submenu-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.footer-top {
  min-height: 447px;
  padding-top: 96px;
  background-image: url("../img/footer-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-top__container {
  display: flex;
  justify-content: space-between;
}

.footer-top__speaker {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top__image {
  width: 96px;
  height: 96px;
}

.footer-top__text {
  margin: 0;
  margin-top: 30px;
  max-width: 360px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.footer-top__text-different {
  font-style: italic;
}

.footer-bottom {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222224;
}

.footer-bottom__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -8px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  margin-right: 8px;
}

.social-list__link:hover {
  background-color: #F16D7F;
  ;
}

.social-list__link:hover .social-list__icon {
  fill: #FFFFFF;
}

.social-list__icon {
  fill: #000000;
}

.form__email {
  padding: 7px 22px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #E1E1E1;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 356px;
  margin-top: 21px;
}

.form__email {
  width: 100%;
  max-width: 276px;
  height: 49px;
}

.form_submit {
  padding: 16px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-color: #E05C6E;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form-wrapper {
  margin-top: 54px;
  margin-right: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper__header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.form-wrapper__header-subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
}

.copyright {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.banner {
  background-color: #F1E4E6;
}

.banner__container {
  min-height: 764px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/banner-image.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.banner__header {
  max-width: 405px;
  margin: 0;
  padding: 0;
  margin-bottom: 91px;
  margin-right: 76px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
  position: relative;
}

.banner__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F16D7F;
}

.banner__small-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.banner__different-color {
  color: #F16D7F;
}

.offers-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

.offers {
  padding-top: 35px;
}

.offers-list__item {
  width: 100%;
  max-width: 360px;
  min-height: 260px;
  margin-top: 30px;
  transition: 0.5s linear;
}

.offers-list__item:nth-child(1) {
  background-image: url("../img/for-women.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:nth-child(2) {
  background-image: url("../img/for-men.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:nth-child(3) {
  background-image: url("../img/for-kids.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-list__item:last-child {
  max-width: 100%;
  min-height: 180px;
  background-image: url("../img/accesories.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-column: 3 span;
}

.offers-list__text {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

.offers-list__text-different {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.offers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: inherit;
}

.offers-list__item:hover {
  transform: scale(1.1);
}

.products {
  padding-top: 96px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.products__header {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}

.products__text {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 19px;
}

.products-list__item {
  margin-top: 30px;
  margin-right: 30px;
  width: 100%;
  flex-grow: 1;
  background-color: #F8F8F8;
}

.products-list__image {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.products-list__cart-button {
  min-width: 139px;
  position: absolute;
  display: none;
  padding: 7px 16px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.products-list__cart-button:hover {
  background-color: #E05C6E;
}

.buttons__cart-image_size {
  width: 22px;
}

.products-list__wrapper {
  padding: 25px 19px;
  text-align: left;
}

.products-list__header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.products-list__description {
  margin: 0;
  padding: 0;
  max-width: 310px;
  margin-top: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-list__price {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-list__link:hover .products-list__cart-button {
  display: flex;
}

.products-list__image-overlay {
  position: relative;
}

.products-list__item:hover .products-list__image-overlay::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}

.products__button {
  margin-top: 42px;
  padding: 14px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid #FF6A6A;
  cursor: pointer;
}

.products__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.services {
  padding-top: 69px;
  padding-bottom: 69px;
  background-color: #222224;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services-list__item {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}

.services-list__image {
  vertical-align: bottom;
}

.services-list__header {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.services-list__description {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  max-width: 310px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.pagination-wrapper {
  display: flex;
  margin: 0 auto;
  margin-top: 66px;
}

.pagination-catalog {
  min-width: 207px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.pagination-catalog__link,
.pagination-catalog__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.pagination-catalog__link {
  padding: 15px 8px;
}

.pagination-catalog__item:last-child .pagination-catalog__link {
  padding-left: 0;
}

.pagination-catalog__item:nth-child(6) .pagination-catalog__link {
  padding-right: 0;
}


.pagination-catalog__link_active {
  color: #EF5B70;
}

.pagination-catalog__link:hover {
  color: #EF5B70;
}

.pagination-wrapper__button {
  display: flex;
  align-items: center;
  padding: 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  border-radius: 5px;
  border: 1px solid rgba(235, 235, 235, 1);
}

.pagination-wrapper__button:hover {
  opacity: 0.6;
}

.new-arrivals {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}

.new-arrivals__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.new-arrivals__header {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumbs__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs__item::before {
  content: '/';
  margin-left: 5px;
  margin-right: 5px;
  color: #636363;
}

.breadcrumbs__item:first-child::before {
  content: '';
}

.breadcrumbs__link:hover {
  color: #F16D7F;
}

.filters {
  padding-top: 45px;
}

.filters__form {
  display: flex;
  position: absolute;
  z-index: 200;
}

.filters__global {
  padding: 0;
  border: none;
}

.filters__global_left:hover .filters-button {
  color: #EF5B70;
}

.filters__global_left:hover .filters-button__image {
  fill: #EF5B70;
}

.filters__global_center {
  display: flex;
  flex-wrap: wrap;
}

.filters-button {
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
}

.filters-button:hover {
  color: #EF5B70;
}

.filters-button:hover .filters-button__image {
  fill: #EF5B70;
}

.global-list-filter__item {
  margin-bottom: 18px;
}

.global-list-filter__open-filter {
  width: 100%;
  position: relative;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  background-color: transparent;
}

.button-active {
  color: #EF5B70;
}

.global-list-filter__item:last-child {
  margin-bottom: 0;
}

.global-list-filter__open-filter:hover {
  color: rgba(58, 56, 56, 0.86);
}

.global-list-filter__open-filter:hover::before {
  background-color: rgba(58, 56, 56, 0.86);
}

.global-list-filter__open-filter::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #EF5B70;
  left: 0;
  top: 0;
}

.filter-button {
  margin-right: 20px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
  color: #6F6E6E;
  display: flex;
  align-items: center;
}

.buttons-wrapper:hover .filter-button__image {
  fill: #EF5B70;
  transform: rotate(180deg);
}

.buttons-wrapper:hover .filter-button {
  color: #EF5B70;
}

.global-list-filter {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters-button__image {
  fill: #000000;
  margin-left: 9px;
}

.filter-button__image {
  margin-top: 3px;
  margin-left: 9px;
  fill: #6F6E6E;
}

.filters__global_left {
  margin-top: -15px;
  margin-left: 0px;
  flex-grow: 1;
  width: 360px;
  max-width: 360px;
  padding: 13px 16px;
}

.filters__global_left:hover {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filters__global_left:hover .global-list-filter {
  display: block;
}

.global-sub-list {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 18px;
  list-style: none;
}

.global-sub-list__item {
  margin-bottom: 11px;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.global-sub-list__item:last-child {
  margin-bottom: 0;
}

.global-sub-list__label:hover {
  color: #E05C6E;
  cursor: pointer;
}

.filters-button_close {
  color: #EF5B70;
}

.filters__global_center {
  margin-left: 86px;
  flex-grow: 2;
}

.products_catalog {
  padding-top: 0;
}

.dropdown-list {
  position: absolute;
  display: none;
  min-width: 79px;
  margin: 0;
  margin-top: 5px;
  padding: 10px;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 101;
}

.buttons-wrapper:hover .dropdown-list {
  display: block;
}

.dropdown-list-label {
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  position: relative;
  text-transform: uppercase;
}

.dropdown-list-label::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  left: 0;
}

.dropdown-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropdown-list__item:last-child {
  margin-bottom: 0;
}

.registration-header {
  padding-top: 59px;
  padding-bottom: 60px;
  background-color: #F8F3F4;
}

.registration-header__heading {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: left;
  text-transform: uppercase;
}

.registration-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.block-registration {
  padding-top: 64px;
  padding-bottom: 96px;
}

.block-registration__wrapper {
  display: flex;
  justify-content: space-between;
}

.registration-form {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.enter-name {
  max-width: 359px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
}

.enter-name__heading {
  text-transform: capitalize;
}

.enter-name__heading,
.login-details__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.enter-name__input,
.login-details__input {
  margin-top: 21px;
  padding: 13px 17px;
  border: 1px solid #A4A4A4;
}

.enter-name__input::placeholder,
.login-details__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.gender {
  max-width: 359px;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  border: none;
}

.gender__label {
  position: relative;
  margin-right: 20px;
  padding-left: 27px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.gender__label:hover {
  color: #E05C6E;
  cursor: pointer;
}

.gender__label:last-child {
  margin-right: 0;
}

.gender__label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
}

.gender__label:hover::before {
  border: 1px solid #E05C6E;
}

.gender__label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #A4A4A4;
}

.gender__input:not(:checked)+.gender__label::after {
  opacity: 0;
}

.gender__input:checked+.gender__label::after {
  opacity: 1;
}

.login-details {
  max-width: 359px;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
}

.login-details__heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.login-details__text {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  text-align: left;
}

.registration-form__button {
  margin-top: 39px;
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 29px;
  background: #F16D7F;
  border: none;
  cursor: pointer;
}

.registration-form__button:hover {
  background: #B1B1B1;
}

.loyalty-description {
  width: 55%;
}

.loyalty-description__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

.loyalty-description__text {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.loyalty-description__list {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  list-style: none;
}

.loyalty-description__item {
  margin-bottom: 16px;
  padding-left: 43px;
  position: relative;
}

.loyalty-description__item:last-child {
  margin-bottom: 0;
}

.loyalty-description__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 16px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
}

.slider {
  min-height: 777px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F7F7F7;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
}

.slider__image {
  vertical-align: bottom;
}

.slider__image-wrapper {
  display: flex;
  justify-content: center;
}

.slider-button {
  display: flex;
  align-items: center;
  padding: 13px 17px;
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}

.slider-button__image {
  fill: #000000;
}

.slider-button__image_active {
  fill: #F16D7F;
}

.slider-button__image_previous {
  transform: rotate(180deg);
}

.product-description {
  text-align: center;
  background-color: #FFFFFF;
}

.product-description__wrapper {
  position: relative;
  top: -70px;
  padding: 65px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  z-index: 300;
}

.products_padding {
  padding-top: 0;
}

.filters__form-product {
  margin-top: 65px;
  margin-bottom: 49px;
  justify-content: center;
  position: inherit;
}

.filters__global_catalog {
  display: flex;
  flex-wrap: wrap;
}

.product-description__main-heading {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.product-description__main-heading::after {
  position: absolute;
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-description__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.product-description__text {
  margin: 0 auto;
  padding: 0;
  max-width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-description__price {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.line {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: #EAEAEA;
  /* Цвет линии для остальных браузеров */
  background-color: #EAEAEA;
  /* Цвет линии для браузера Firefox и Opera */
  height: 1px;
  /* Толщина линии */
  width: 60%;
}

.add-product {
  display: flex;
  margin: 0 auto;
  padding: 9px 23px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  cursor: pointer;
}

.add-product__image {
  width: 26px;
  height: 24px;
  fill: #EF5B70;
}

.add-product__text {
  margin-left: 23px;
}

.add-product:hover {
  color: #5E5E5E;
  border: 1px solid #5E5E5E;
}

.add-product:hover .add-product__image {
  fill: #5E5E5E;
}